<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bind Study Cafe</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body {
            background-color: #f7f7f7;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-container {
            background-color: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
    </style>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
        /*<![CDATA[*/

            // 회원가입 성공 메시지 표시
            var success = [[${signupSuccess ?: 'null'}]];  // Thymeleaf 변수 `signupSuccess`를 JS 변수로 할당 기본값 사용
            if (success === true) {
                alert(document.getElementById("signUpSuccessMessage").value);
            }
        });
        
        /*]]>*/
    </script>

</head>
<body>

    <!-- 공통 헤더 시작 -->
    <div th:replace="~{ commons/header.html}"></div>
    <!-- 공통 헤더 끝 -->

    <input type="hidden" id="signUpSuccessMessage" th:value="#{signUp.success}"> <!-- 회원가입 성공 메시지 -->

    <div class="login-container">
    <h2 class="text-center mb-4">Login to Study Cafe</h2>

    <form action="/login" th:object="${loginDto}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div class="mb-3">
                <input type="text" class="form-control" name="loginId" th:field="*{loginId}" th:placeholder="#{member.id}" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" th:placeholder="#{member.password}" required>
        </div>
        <button type="submit" class="btn btn-primary w-100" th:text="#{home.login}">Login</button>
    </form>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary w-100" th:onclick="|location.href='@{/members/save}'|" th:text="#{home.signUp}">Sign up</button>
    </div>
</div>

</body>
</html>