<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Alert Test</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning!</strong> This is a test alert. Click the close button to dismiss it.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<!-- Bootstrap JavaScript 파일 추가 -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>